body {
  font-family: 'Plus Jakarta Sans', sans-serif!important;
}
html, body {
  height: 100%;   
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* .nav{
    position: fixed !important;
}

.navbar{
    height: 5rem;
    position: fixed !important;

} */
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}
.social{
    text-align: center;
    padding-bottom:5px

}
.private{
    text-align: center;
    padding-top: 10px;
}
.others{
    text-align: center;
    justify-content: space-around;

}
.footer{
    background-color:#ebebeb;
    padding: 30px;
    height:10rem;
      margin-top: auto;  
}

.card{
    padding:10px;
    margin:10px;
    border-radius: 50%;
     width: 310px !important;
    border:none !important;
    display: flex !important;
}
.card img {
    height: 300px !important;
    width: 300px !important;
    border-radius: 20px;

}
h3{
    padding-left: 40px !important;
}
p{
    text-decoration: white underline!important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add{
    background-color: #fe424d !important;
}
.edit{
    background-color: #fe424d !important;

}
.delete{
    background-color: #fe424d !important;
}
.options{
    display: flex;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.reviewcard{

    background-color:aliceblue;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5%;

}
.reviewcard p{
    padding-left: 8px;
}
.rev{
    margin-left: 200px !important;
}
.tax-info{
    display: none;

} 



